#### 14.Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.

#### Suppose the following input is supplied to the program:

    Hello world!

#### Then, the output should be:

    UPPER CASE 1

    LOWER CASE 9

In [4]:
word = input()
upper,lower = 0,0

for i in word:
    if 'a' <= i and i<= 'z':
        lower += 1
    if 'A' <= i and i<= 'Z':
        upper += 1
        
print('Upper {0} Lower {1}'.format(upper,lower))

Hello world!
Upper 1 Lower 9

In [5]:
word = input()
upper,lower = 0,0

for i in word:
    lower += i.islower()
    upper += i.isupper()
    
print('Upper {0} Lower {1}'.format(upper,lower))

Hello world!
Upper 1 Lower 9

In [12]:
word = input()

upper = sum(1 for i in word if i.isupper()) # sum function cumulatively sum up 1's if the condition is True
lower = sum(1 for i in word if i.islower())

print('Upper {0} Lower {1}'.format(upper,lower))

Hello world!
Upper 1 Lower 9

In [13]:
string = input('Enter the sentence')
upper = 0
lower = 0

for x in string:
    if x.isupper() == True:
        upper += 1
    if x.islower() == True:
        lower += 1

print("UPPER CASE: ", upper)
print("LOWER CASE: ", lower)

Enter the sentenceHello world!
UPPER CASE:  1
LOWER CASE:  9

#### 15.Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.

#### Suppose the following input is supplied to the program:

    9

#### Then, the output should be:

    11106

In [15]:
a = input()
total, tmp = 0, str() # initialing an integer and empty string

for i in range(4):
    tmp += a # concatenating 'a' to 'tmp'
    total += int(tmp) # converting string type to integer type
    
print(total)

2
2468

In [16]:
value = input("Enter value: ")

n1 = value * 1
n2 = value * 2
n3 = value * 3
n4 = value * 4

total = int(n1) + int(n2) + int(n3) + int(n4)
print(total)

Enter value: 2
2468

In [17]:
a = input()
total = int(a) + int(2*a) + int(3*a) + int(4*a)  # N*a=Na, for example  a="23", 2*a="2323",3*a="232323"
print(total)

2
2468